<div id="layout_cabecalho">


<style>
  a.cabecalho_sair:active  {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
  a.cabecalho_sair:link    {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
  a.cabecalho_sair:visited {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
  a.cabecalho_sair:hover   {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:underline;}

  td.font_cabecalho1 {
    font:bold 26px Tahoma;
    color: #FFFFFF;
  }
  td.font_cabecalho2 {
    font:bold 10px Arial;
    color: #FFFFFF;
  }
  td.font_cabecalho3 {
    font:normal 9px Verdana;
    color: #FFFFFF;
  }
</style>

<table width="100%" height="60" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td width="180" rowspan="3" align="center">
      <a href="http://www.usp.br" target="_blank"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo.png" width="122" height="49" alt="" border="0" style="position: relative; top: -3px;"></a>
    </td>
    <td>
      <a href="http://www.usp.br" target="_blank"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo-texto.png" alt="" width="260" height="44" border="0" style="position: relative; top: 5px;"></a>
    </td>
  </tr>
</tbody></table>

</div>