<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

{% include "topo-busca.html" %}

  <div class="container-fluid text-left">
{% if titulo %}
	<h2>Itens com <b>título</b> "{{query}}"</h2>
	<ul>
		{% for item in titulo %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if pesquisador %}
	<h2>Itens com <b>pesquisador(a)</b> "{{query}}"</h2>
	<ul>
		{% for item in pesquisador %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if pequena_area %}
	<h2>Itens na <b>área</b> "{{query}}"</h2>
	<ul>
		{% for item in pequena_area  %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if instituto %}
	<h2>Itens no <b>instituto</b> "{{query}}"</h2>
	<ul>
		{% for item in instituto  %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if abstract %}
	<h2>Itens com <b>resumo</b> "{{query}}"</h2>
	<ul>
	{% for item in abstract %}
	        {% include "pesquisa.html" %}
	{% endfor %}
	</ul>
{% endif %}

{% if tags %}
	<h2>Itens com <b>tags</b> "{{query}}"</h2>
	<ul>
		{% for item in tags %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

  </ul>
  </div>
