<html>
<body>
{% if titulo %}
	<h2>Itens com título "{{query}}"</h2>
	<ul>
		{% for item in titulo %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if pesquisador %}
	<h2>Itens com pesquisador(a) "{{query}}"</h2>
	<ul>
		{% for item in pesquisador %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if pequena_area %}
	<h2>Itens com área "{{query}}"</h2>
	<ul>
		{% for item in pequena_area  %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

{% if abstract %}
	<h2>Itens com resumo "{{query}}"</h2>
	<ul>
	{% for item in abstract %}
	        {% include "pesquisa.html" %}
	{% endfor %}
	</ul>
{% endif %}

{% if tags %}
	<h2>Itens com tags "{{query}}"</h2>
	<ul>
		{% for item in tags %}
		        {% include "pesquisa.html" %}
		{% endfor %}
	</ul>
{% endif %}

</body>
</html>
